{% extends 'nav.html' %}

{% block about %}
<body>
    <div>
        <div class="description">
           <section id = "header" class="align-items-center">
           <h1 class="">About <strong class="brand-name"> Interview Preparation System</strong></h1>
            <div>                 
             <p>When a fresh candidate fine any job, he/she first of all search interview preparation question in
                many resources. He/she can not find all the preparation question based on his/her skills in one platforms.
                In this system candidate upload their CV. System can find out their skills and give them suitable interview preparation question. </p>
       </div>
      </section>
     </div>
    </div>
   </body>

{% endblock %}
