{% extends 'nav.html' %}
{% block contact %}
<body>
    <div>
        <div>
       <div>
<section id = "header" class="d-flex align-items-center">
 <div class="container-fluid">
  <div class="row">
    <div class ="col-10 mx-auto "> 
    <div class="row"> 
    <div class="col-md-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex justify-content-center flex-column">
        <h1>Hello, this is  <strong class="brand-name"> MD Mostafa Munna</strong></h1>
        <h2 class="my-3">Studying BSc in Software Engineering at</h2>
        <h3>Daffodil International University</h3>
        <div class="mt-3">
            <a to="/linkedin.com" class="btn-get-started">LinkedIn</a>
            <a to="/github.com" class="btn-get-started nav-btn">Github</a>

        </div>

    </div>
    <div class="col-lg-6 order-1 order-lg-2 header-img">
        <img src="../images/munna.jpeg" alt="home" class="img-fluid animated picture"/>

    </div>
    </div>
</div>
</div>
</div>

</section>
</div>
</div>
</div>
</body>
{% endblock %}
