{% extends 'nav.html' %}

{% block body %}
    <!DOCTYPE html>
<html lang="en">
    <head></head>
<body>
<div class="">
    <h1 class="h1-text-align">Welcome to <strong class="h1-home-strong">Interview Preparation System</strong></h1>
    <br>
    <div class="container2">
        <section id="header" class=" align-items-center">
            <div>
                <form enctype="multipart/form-data" action="/upload_resume/" method="post">{% csrf_token   %}
                    <div class="input-group mb-3">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile02" name="resume_upload" required>
                            <label class="custom-file-label" for="inputGroupFile02">Upload CV here</label>
                        </div>
                        <div class="input-group-append">
                            <input type="submit" class="input-group-text" id="" value="Upload"/>
                        </div>
                    </div>
                </form>
            </div>
            <br>
            <br>
            <div class="mt-3">
                <a href="/questions" class="btn-get-started">Interview Preparation Questions for You</a>
            </div>
            <div class="mt-3">
                <a to="/jobpost" class="btn-get-started">Suitable Job for You</a>
            </div>
    </div>
</div>
</div>
</div>
</div>
</section>
</div>
</div>
<p>{% for q in questionlist %}
    {{ q.question  }}
    {{ q.ans  }}
{% endfor %}

</p>
</body>
</html>
{% endblock %}
