{% extends 'nav.html' %}
{% load static %}
{% block body %}

<body>
    <div>
        <section id = "header" class="d-flex align-items-center">
         <div class="container-fluid ">
          <div class="row">
            <div class ="col-10 mx-auto "> 
            <div class="row"> 
            <div class="col-md-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex justify-content-center flex-column">
                <h1>Welcome to <strong class="brand-name">Interview Preparation System</strong></h1>
                <h2 class="my-3">Prepare yourself for your destination...</h2>
                <div class="mt-3">
                    <button class="btn btn-primary" onclick="location.href='/home'" class="btn-get-started">Get Started</button>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 header-img">
                <img src="{% static 'images/interview1.png' %}" alt="home" class="img-fluid animated"/>
            </div>
            </div>
</div>
</div>
</div>

        </section>
    </div>
    
</body>

{% endblock %}
