{% extends 'nav.html' %}

{% block body %}

<body>
    <div class="question-container">
    <div class="h1-question">
        <h2>Based on your skills Suitable job for you</h2>
    </div>
<div>
    <div class="card text-center">
        <div class="card-header">
          IT/Software
        </div>
        <div class="card-body">
          <h5 class="card-title">Jr. Software Engineer</h5>
          <p class="card-text">ABC company</p>
          <a href="#" class="btn btn-primary">Apply Now</a>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>
</div> 
</div>       
</body>
{% endblock %}