{% extends 'nav.html' %}

{% block body %}

<body>
    <div class= "login-form">
        <h1 class="h1">Please login to the system</h1>
        <div class="login">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputEmail1">User Name</label>
                <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"/>

            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1"/>
            </div>
            <br/>
            <button type="submit"  class="btn btn-primary submitBtn">Log in</button>
            <a class="create-account" href="/registration">Create an account</a>
            </form>

            {% for message in messages %}
            <p id="messages">{{message}}</p>
            {% endfor %}
        </div>
    </div>
    
</body>
{% endblock %}