{% extends 'nav.html' %}

{% block body %}

    <body>
    <div class="question-container">
        <div class="h1-question">
            <h2>Based on your skills interview preparation question are given below:</h2>
        </div>
        <div class="card-contain">
            <div class="card-deck">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Your key skills are:
                            {% for skill in skills %}{{ skill }}, {% endfor %}</h5>
                        <div class="accordion" id="accordionExample">
                             {% for question_obj in questions %}
                            <div class="card">
                                <div class="card-header" id="h{{ question_obj.id }}">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse"
                                                data-target="#c{{ question_obj.id }}"
                                                {% if forloop.counter == 1 %}
                                                aria-expanded="false"
                                                {% else %}
                                                aria-expanded="false"
                                                {% endif %}
                                                aria-controls="c{{ question_obj.id }}">
                                                {{ question_obj.question }}
                                        </button>
                                    </h2>
                                </div>

                                <div id="c{{ question_obj.id }}" class="collapse" aria-labelledby="h{{ question_obj.id }}"
                                     data-parent="#accordionExample">
                                    <div class="card-body">
                                        Answer: {{ question_obj.answer }}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                                data-target="#collapseTwo12" aria-expanded="false"
                                                aria-controls="collapseTwo">
                                            2. Why we should learn python?
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseTwo12" class="collapse" aria-labelledby="headingTwo"
                                     data-parent="#accordionExample">
                                    <div class="card-body">
                                        Answer: Python is used many sector like Data science, Machine learning, web
                                        application and many more.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                                data-target="#collapseThree13" aria-expanded="false"
                                                aria-controls="collapseThree">
                                            3. Tell me some of the Python framework.
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseThree13" class="collapse" aria-labelledby="headingThree"
                                     data-parent="#accordionExample">
                                    <div class="card-body">
                                        Answer: Django, flask, Tensorflow, Sk-learn etc.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


{#                <div class="card">#}
{#                    <div class="card-body">#}
{#                        <h5 class="card-title">Django</h5>#}
{#                        <div class="accordion" id="accordionExample">#}
{#                            <div class="card">#}
{#                                <div class="card-header" id="headingOne">#}
{#                                    <h2 class="mb-0">#}
{#                                        <button class="btn btn-link" type="button" data-toggle="collapse"#}
{#                                                data-target="#collapseOne21" aria-expanded="true"#}
{#                                                aria-controls="collapseOne">#}
{#                                            1. What is Django?#}
{#                                        </button>#}
{#                                    </h2>#}
{#                                </div>#}
{#                                <div id="collapseOne21" class="collapse show" aria-labelledby="headingOne"#}
{#                                     data-parent="#accordionExample">#}
{#                                    <div class="card-body">#}
{#                                        Ans: Django is a python web framework.#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="card">#}
{#                                <div class="card-header" id="headingTwo">#}
{#                                    <h2 class="mb-0">#}
{#                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"#}
{#                                                data-target="#collapseTwo22" aria-expanded="false"#}
{#                                                aria-controls="collapseTwo">#}
{#                                            2. Django works in MVT or MVC?#}
{#                                        </button>#}
{#                                    </h2>#}
{#                                </div>#}
{#                                <div id="collapseTwo22" class="collapse" aria-labelledby="headingTwo"#}
{#                                     data-parent="#accordionExample">#}
{#                                    <div class="card-body">#}
{#                                        Answer: Django works on MVT.#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="card">#}
{#                                <div class="card-header" id="headingThree">#}
{#                                    <h2 class="mb-0">#}
{#                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"#}
{#                                                data-target="#collapseThree23" aria-expanded="false"#}
{#                                                aria-controls="collapseThree">#}
{#                                            3. Flask vs Django#}
{#                                        </button>#}
{#                                    </h2>#}
{#                                </div>#}
{#                                <div id="collapseThree23" class="collapse" aria-labelledby="headingThree"#}
{#                                     data-parent="#accordionExample">#}
{#                                    <div class="card-body">#}
{#                                        Answer: Flask is a micro framework and Django is a full framework.#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div>#}
{#                                    <button type="button" class="btn btn-link">See more</button>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="card">#}
{#                    <div class="card-body">#}
{#                        <h5 class="card-title">Java</h5>#}
{#                        <div class="accordion" id="accordionExample">#}
{#                            <div class="card">#}
{#                                <div class="card-header" id="headingOne">#}
{#                                    <h2 class="mb-0">#}
{#                                        <button class="btn btn-link" type="button" data-toggle="collapse"#}
{#                                                data-target="#collapseOne31" aria-expanded="true"#}
{#                                                aria-controls="collapseOne">#}
{#                                            1. What is java?#}
{#                                        </button>#}
{#                                    </h2>#}
{#                                </div>#}
{##}
{#                                <div id="collapseOne31" class="collapse show" aria-labelledby="headingOne"#}
{#                                     data-parent="#accordionExample">#}
{#                                    <div class="card-body">#}
{#                                        Answer: Java is a object oriented programming language.#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="card">#}
{#                                <div class="card-header" id="headingTwo">#}
{#                                    <h2 class="mb-0">#}
{#                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"#}
{#                                                data-target="#collapseTwo32" aria-expanded="false"#}
{#                                                aria-controls="collapseTwo">#}
{#                                            2. Tell me about java web framework.#}
{#                                        </button>#}
{#                                    </h2>#}
{#                                </div>#}
{#                                <div id="collapseTwo32" class="collapse" aria-labelledby="headingTwo"#}
{#                                     data-parent="#accordionExample">#}
{#                                    <div class="card-body">#}
{#                                        Answer: Spring for web and Android for mobile application.#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="card">#}
{#                                <div class="card-header" id="headingThree">#}
{#                                    <h2 class="mb-0">#}
{#                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"#}
{#                                                data-target="#collapseThree33" aria-expanded="false"#}
{#                                                aria-controls="collapseThree">#}
{#                                            3. Use of java in big data.#}
{#                                        </button>#}
{#                                    </h2>#}
{#                                </div>#}
{#                                <div id="collapseThree33" class="collapse" aria-labelledby="headingThree"#}
{#                                     data-parent="#accordionExample">#}
{#                                    <div class="card-body">#}
{#                                        Answer: Hadoop is used for data engineering which is based on java.#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
    </div>
    </body>
{% endblock %}